@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Anton+SC&display=swap');
.input-field {
    @apply flex h-10 w-full rounded-md border-gray-300 bg-slate-800 py-2 px-3 text-sm text-gray-50 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:ring-offset-gray-900;
}

.submit-button {
    @apply inline-flex w-full items-center justify-center rounded-md bg-indigo-600 px-3.5 py-2.5 text-base font-semibold text-white hover:bg-indigo-500;
}

body {
    background-color: #000000;
}


.anton-sc-regular {
    font-family: 'Anton SC', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 36.13px;
    text-align: center;
  }
  
  
  
  /* Define Akshar font */
  .font-akshar {
    font-family: 'Akshar', serif;
    font-optical-sizing: auto;
  }